body {
	background-color: whitesmoke	;

}

#header-nav {
	background-color: blue;
}

.myImg	{
	height: 480px;
	margin-left: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 1%;
}

.navbar-brand {
	margin-left: 16px;
}

.row {
	margin-top: 10px;
}

#first-row {
	margin-top: 65px;
}

.col-xl-8 {
	background-color: skyblue;
}

.col-xl-4 {
	background-color: whitesmoke;
}

.container-fluid {
	margin-top: 16px;
}

.name {
	margin-top: 16px;
}

.sbold {
	font-weight: bold;
}

a.active {
  background-color: #04AA6D;
  color: white;
  padding: 5px
}

p {
	margin: 5px;
}
